<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating-app index</title> <!-- Ændre navn her-->
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="index.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="headerleft">
            </div>
            <div class="headermiddle">
                <img class="logo" src="images/datingapp-logo.png">
            </div>
            <div class="headerright">
            </div>
        </div> 
        <div class="main">
            <div class="main-container">
                <div>
                <form>
                    <h2>Username</h2>
                    <input type="text" id="username"></input>
                    <h2>Password</h2>
                    <input type="password" id="password"></input>
                    <br><br>
                    <button type="button" id="loginbutton">Log in</button>
                    <p id="errormessage"></p>
                </form>
                <form>
                    <p>Haven't found love yet?</p>
                    <button type="button" id="signupbutton">Sign up here</button>
                </form>
               </div>
            </div>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>