<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating-app Interests</title>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="interests.css"/>
</head>
<body>
    <div class="wrapper">
        <!--- Header view content --->
        <div class="header">
            <div class="headerleft">
                <button type="button" id="back-btn">Back to settings</button>
            </div>
            <div class="headermiddle">
                <img class="logo" src="images/datingapp-logo.png">
            </div>
            <div class="headerright">
                <button type="button" id="logout-btn">Log out</button> 
            </div>
        </div> 
        <!--- Body view content --->
        <div class="main">
            <div class="main-container">
                <div>
                <form>
                    <h1>Update your profile</h1>
                    <textarea type="text" id="interests"></textarea>
                    <br>
                    <button type="button" id="savebutton">Save</button>
                </form>
               </div>
            </div>
        </div>
    </div>
    <script src="interests.js"></script>
</body>
</html>