<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating-app</title>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="main.css"/>
</head>
<body>
    <div class="wrapper">
        <!--- Header view content --->
        <div class="header">
            <div class="headerleft">
                <button type="button" id="my-matches-btn">My matches</button>
            </div>
            <div class="headermiddle">
                <img class="logo" src="images/datingapp-logo.png">
            </div>
            <div class="headerright">
                <div>
                <button type="button" id="settings-btn">Settings</button>
                <button type="button" id="logout-btn">Log out</button> 
                </div>
            </div>
        </div>
        <!--- Body view content --->
        <div id="master-div">
        <div id="main-div" class="main-div">
            <!--- Top view content --->
            <div id="main-top">
            <div class="profile-top">
                <div class="profile-top-left">
                    <div id="profile-top-left-div-top">
                        <h1 id="fullname-match"></h1>
                    </div>
                    <div id="profile-top-left-div-bottom">
                        <h3 id="age-match"></h2>
                        <h3 id="gender-match"></h2>
                    </div>
                </div>
                <div class="profile-top-right">
                    <img id="profile-picture" src="">
                </div>
            </div>
            <!--- Middle view content --->
            <div class="profile-bottom">
                <div id="div-to-no-matches">
                    <h3 id="interests-header">Interests:</h3>
                    <p id="interests-match"></p>
                </div>
            </div>
            </div>
            <!--- Bottom view content --->
            <div class="bottom">
                <button type="button" id="dislike">
                    <div class="img-wrap">
                        <img class="img" src="images/datingapp-dislike.png">
                    </div>
                </button>
                <button type="button" id="undecided">
                    <div class="img-wrap">
                        <img class="img" src="images/datingapp-undecided.png">
                    </div>
                </button>
                <button type="button" id="like">
                    <div class="img-wrap">
                        <img class="img" src="images/datingapp-like.png">
                    </div>
                </button>
            </div>
        </div>
    </div>
    </div>

    <script src="main.js"></script>
</body>
</html>