<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating-app index</title> <!-- Ændre navn her-->
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="main.css"/>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="headerleft">
                <button type="button" id="my-matches-btn">My matches</button>
            </div>
            <div class="headermiddle">
                <img class="logo" src="images/datingapp-logo.png">
            </div>
            <div class="headerright">
                <div>
                <button type="button" id="settings-btn">Settings</button>
                <button type="button" id="logout-btn">Log out</button> 
                </div>
            </div>
        </div> 
        <div class="main">
            <div>
            <div class="profile-top">
                <div class="profile-top-left">
                    <div id="profile-top-left-div-top">
                        <h1 id="fullname-match">Joe doe</h1>
                    </div>
                    <div id="profile-top-left-div-bottom">
                        <h3 id="age-match">18 years</h2>
                        <h3 id="gender-match">Female</h2>
                    </div>
                </div>
                <div class="profile-top-right">
                    <img src="images/datingapp-picture.png">
                </div>
            </div>
            <div class="profile-bottom">
                <div>
                    <h3>Interests:</h3>
                    <p id="interests-match">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quia aliquam labore quo molestias consectetur quisquam quam cumque et minima, iste quasi aliquid minus iusto facilis aperiam rem sint dolorem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit rerum placeat velit excepturi praesentium accusamus, soluta ratione quo cumque odit esse ullam vel. Animi tempore ducimus magnam officiis harum at. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex odio porro, officia dolores totam nesciunt illo odit saepe, fugiat neque pariatur, veritatis eveniet velit molestiae doloremque optio sequi aut voluptatibus.</p>
                </div>
            </div>
            </div>
            <div class="bottom">
                <button type="button" id="dislike">
                    <div class="img-wrap">
                        <img class="img" src="images/datingapp-dislike.png">
                    </div>
                </button>
                <button type="button" id="undecided">
                    <div class="img-wrap">
                        <img class="img" src="images/datingapp-undecided.png">
                    </div>
                </button>
                <button type="button" id="like">
                    <div class="img-wrap">
                        <img class="img" src="images/datingapp-like.png">
                    </div>
                </button>
            </div>
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>