<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating-app Matches</title>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="matches.css"/>
</head>
<body>
    <div class="wrapper">
        <!--- Header view content --->
        <div class="header">
            <div class="headerleft">
                <button type="button" id="home-btn">Home</button>
            </div>
            <div class="headermiddle">
                <img class="logo" src="images/datingapp-logo.png">
            </div>
            <div class="headerright">
                <button type="button" id="logout-btn">Log out</button> 
            </div>
        </div>
        <!--- Body view content --->
        <div id="main-div" class="main-div">
                <h2>List of yout matches:</h2>
                <br>
                <div class="table-div">
                    <table id="match-table">
                        <tr>
                            <th>ID of match</th>
                            <th>Name</th>
                            <th>Age</th>
                        </tr>
                    </table>
                </div>
                <div id="delete-match-div">
                    <h2>Delete match:</h2><br>
                    <p>Delete a match by typing the ID of your match in the input and click the button</p>
                    <form>
                        <input type="text" id="delete-match-input"></input><br>
                        <button type="button" id="delete-match-button">Delete match</button>
                        <p id="delete-match-message"></p>
                    </form>
                </div>
        </div>
    </div>
    <script src="matches.js"></script>
</body>
</html>