
.table-div {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#match-table {
    width: 100%;
    text-align: left;
    overflow: scroll;
}



#delete-match-div {
    width: 100%;
    bottom: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form, h2, p{
    text-align: center;
}


#delete-match-input {
    padding: 2%;
    margin-top: 10px;
    border: solid 0.5px gray;
}

#delete-match-button {
    margin-top: 15px;
    padding: 10px;
    background-color: white;

}

#no-matches-h1 {
    
    padding: 20%;
    text-align: center;
};