<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating-app sign up</title>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="signup.css"/>
</head>
<body>
    <div class="wrapper">
        <!--- Header view content --->
        <div class="header">
            <div class="headerleft">
                <button type="button" id="back-btn">Back to login</button>
            </div>
            <div class="headermiddle">
                <img class="logo" src="images/datingapp-logo.png">
            </div>
            <div class="headerright">
            </div>
        </div> 
        <!--- Body view content --->
        <div class="main">
            <div class="main-container">
                <form>
                    <h1>Sign up</h1>
                    <h3>Username</h2>
                    <input type="text" id="username"></input>
                    <h3>First name</h2>
                        <input type="text" id="firstname"></input>
                    <h3>Last name</h2>
                        <input type="text" id="lastname"></input>
                     <h3>Birthday</h2>
                        <input type="date" id="birthday"></input>
                    <h3>Gender</h3>
                    <div>
                        <input type="radio" name="gender" value="Male">Male</input>
                        <input type="radio" name="gender" value="Female">Female</input>
                    </div>
                    <h3>Password</h2>
                    <input type="password" id="password"></input>
                    <p id="passwordvalidate"></p>
                    <button type="button" id="signupbutton">Sign up</button>
                    <p id="message"></p>
                </form>
            </div>
        </div>
    </div>
    <script src="signup.js"></script>
</body>
</html>