/*Header*/

.main-container {
    padding: 0px 10% 15%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-container form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#signupbutton {
    margin-top: 8px;
    padding: 10px;
    background-color: white;
}

#firstname, #lastname, #username, #age, #password {
    padding: 4.5%;
    margin-top: -18px;
    border: solid 0.5px gray;
}

#passwordvalidate {
    margin-top: 0;
}

