body, html {
    margin: 0%, auto;
    background-color: rgb(229, 242, 252);
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif
}

.header button {
    width: 100px;
}

.wrapper {
    height: 80%;
    background-color: rgba(248, 246, 241, 0.925);
    margin: 5%;
    width: 90%;
    border-radius: 0%;
    box-shadow: 1px 1px 3px 3px rgb(173, 184, 199);
    border: solid 1px rgb(174, 183, 196);
    box-sizing: border-box;
    overflow: scroll;

}

.header {
    height: 12.5%;
    width: 100%;
    background-color: rgb(224, 209, 199);
    display: flex;
    justify-content: space-between;
    min-height: 100px;
}

.main {
    background-color: rgba(248, 246, 241, 0.925);
    height: 85%;
    width: 100%;
}

.main, .header {
    display: flex;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
}

/* content in header */

.headerleft {
    height: 100%;
    width: 25%;
    flex: 2
}

.headermiddle {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center; /* Vertical align */
    justify-content: center; /*Horizontal align*/
    flex: 1;

}

.headerright {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 2;
    overflow: scroll;

}

.headerright div {
    float: right;
}

.logo {
    height: 75%;
    width: auto;
}

#my-matches-btn, #settings-btn, #logout-btn, #back-btn, #home-btn, #logout-btn, #back-btn {
    padding: 23px 5px ;
    margin: 5px;
}

button {
    border-color: rgb(226, 225, 220);
}